*{
  margin: 0;
  padding: 0;
}

body{
  background:url(minato.jpg);
  background-size: cover ;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  /* border: 2px solid green; */
  padding: 20px;
  width: 85%;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
  background-color: rgba(255,255,255,.3);
  text-align: center;
  box-shadow: 0 6px 10px rgba(0,0,0,.3);
  border-radius: 15px;
}

.container>.heading{
  font-size: 45px;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(243, 243, 0);
  text-shadow: 5px 5px 2px rgba(0,0,0,.3);
  letter-spacing: 2px;
  
}

.container>.chead{
  font: 20px  sans-serif;
  color: rgb(6, 126, 6);
  margin: 20px;
}

.container>.btn{
  color: white;
  background-color: rgb(125, 15, 204);
  width: 300px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  border-color: rgba(255,255,255,.6);
  text-transform: uppercase;
}

.container>.btn:hover{
  background-color: red;
  color: yellow;
  transition: all 300ms ease;
}


  
  
  